.TodoTemplate{
    width: 150px;
    // display: flex;
    // margin: auto;
    position: fixed;
    // float: right;
    margin-left: 1%;
    // justify-content: end;
    margin-top: 15rem;
    border-radius: 4px;
    overflow: hidden;
    z-index: 0;
    opacity: 0.4;

    .app-title{
        background: #22b8cf;
        color: white;
        height: 2rem;
        font-size: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .content{
        background: white;
    }
}